html{
	font-family: 'Century Gothic','Microsoft YaHei',Verdana;
	min-width: 1024px;
}
body{
	margin:0px;
}

@keyframes appbar-btn-border{
	0% {padding-bottom: 13px;}
	100% {padding-bottom: 15px;}
}
.appbar{
	border:none;
	top:0px;
	left:0px;
	height:55px;
	width:100%;
	background-color: white;
	min-width: 1024px;
	position: fixed;
}

.appbar-logo img{
	top:9px;
	position: relative;
}

.appbar-logo a{
	margin-left: 5px;
	font-size:1.1em;
	line-height: 3.1;
}

.appbar-logo{
	margin-left: 55px;
	float:left;
}

.appbar-right{
	float:right;
	margin-right: 55px;
}

.appbar-button li{
	color:#787b83;
	width:100%;
    padding: 10px 15px;
	display:inline;
	transform: padding-bottom auto;
}
.appbar-button li:hover{
	color: red;
	border-bottom:solid;
	border-bottom-color: rgba(255,0,0,1.0);
	padding-bottom: 15px;
	animation: appbar-btn-border 0.3s;
    background: rgba(0,0,0,0.1)
}
.btn-login a{
    color: red;
}
.appbar-button a{
  text-decoration: none;
  color: #787b83;
}
.appbar-button a:hover{
  color: red;
}
body{
	background-color: lightskyblue;
}

.cover{
	background-image: url(../img/cover.jpg);
	background-size: cover;
}

.cover-content{
	padding:150px 0 250px 130px;
	color:white;
}

.cover-content h1{
	font-size: 60px;
}

.cover-content p{
	font-size:21px;
}

.conver-bigbtn{
	display: block;
	width:330px;
	height:65px;
	text-align: center;
	background-color:rgb(231,79,77);
	font-size:30px;
	line-height: 2;
	text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.conver-bigbtn:hover{
	opacity: 1.0;
}
