html{
	font-family: 'Century Gothic','Microsoft YaHei',Verdana;
	min-width: 800px;
}
body{
	margin:0px;
}

@keyframes appbar-btn-border{
	0% {padding-bottom: 13px;}
	100% {padding-bottom: 15px;}
}
.appbar{
	border:none;
	top:0px;
	left:0px;
	height:55px;
	width:100%;
	background-color: white;
	min-width: 800px;
	position: fixed;
}

.appbar-logo img{
	top:9px;
	position: relative;
}

.appbar-logo a{
	margin-left: 5px;
	font-size:1.1em;
	line-height: 3.1;
}

.appbar-logo{
	margin-left: 55px;
	float:left;
}

.appbar-right{
	float:right;
	margin-right: 55px;
}

.appbar-button li{
	color:#787b83;
	width:100%;
    padding: 10px 15px;
	display:inline;
}
.appbar-button li:hover{
	color: red;
	border-bottom:solid;
	border-bottom-color: rgba(255,0,0,1.0);
	padding-bottom: 15px;
	animation: appbar-btn-border 0.3s;
    background: rgba(0,0,0,0.1)
}
.appbar-button a{
  text-decoration: none;
  color: #787b83;
}
.appbar-button a:hover{
  color: red;
}
.btn-login a{
	color: red;
}
.btn-login img{
    position: relative;
    top: 3px;
}
.cover{
	background-image: url(../img/cover.jpg);
	background-size: cover;
}

.cover-content{
	padding:150px 0 250px 130px;
	color:white;
}

.cover-content h1{
	font-size: 60px;
}

.cover-content p{
	font-size:21px;
}

.conver-bigbtn{
	display: block;
	width:330px;
	height:65px;
	text-align: center;
	background-color:rgba(231,79,77,0.8);
	font-size:30px;
	line-height: 2;
	text-decoration: none;
    color: #FFFFFF;
    transition: opacity 0.3s;
}
.conver-bigbtn:hover{
background-color:rgba(231,79,77,1.0);
}

.iconbox{
	height: 250px;
}

.iconbox-content{
	margin:45px 0 85px 0;
	width:25%;
	float:left;
	text-align: center;
}

.iconbox-text{
	font-size:14px;
	margin-top:45px;
	text-align: center;
}
.iconbox-text-withline{
	border-right-style:solid;
	border-right-color:rgb(152,152,153);
	border-right-width: 1.6px;
}
.toknow{
	background-color:rgb(236,236,236);
	padding:80px 0 80px 0;
	text-align: center;
}
.toknow-text{
	margin-top: 50px;
	color:rgb(161,161,161);
	font-size: 53.59px;
}
.find{
	background-image: url(../img/map.png);
	background-size:cover;
	height:348px;
	text-align: center;
	color:white;
}
.find-heading{
	padding-top:50px;
	font-size:21px;
}
.find-line{
	border-bottom-style: solid;
	border-bottom-color: white;
	width:32px;
	margin-left:auto;
	margin-right: auto;
	padding-top:10px;
}

